@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="~/css/Home.css" rel="stylesheet"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body data-bs-spy="scroll" data-bs-target="#websitenavbar" data-bs-offset="200" tabindex="0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <div class="text-center container-fluid container">
        <img src="/Images/website.png" alt="Image of me" style="width: 40vh; height: 40vh;" class="ProfileImage">
        <h1 class="Name" style="font-family:Tahoma; color:white; margin-top: 3%">Julian van Dam.</h1>
        <p class="Description" style="font-family:Tahoma; color: grey">Software Developer</p>
        <p class="Description" style="font-family:Tahoma; color: grey">Looking for an internship</p>
        <a class="item" href="#AboutMe">
            <button class="Button"
                style="font-family:Tahoma; border-style:solid; color:white; background-color:black; border-width:4px; border-color:white; border-radius:10px; margin-top: 5%; width: 15%; height: 5vh;">Continue</button>
        </a>
        <div class="SmallerButtons" style="margin-top: 2%;">
            <button class="Button"
                style="font-family:Tahoma; border-style:solid; color:white; background-color:black; border-width:4px; border-color:white; border-radius:2px;" data-bs-toggle="modal" data-bs-target="#popupmodal" data-bs-url="https://www.linkedin.com/in/julian-van-dam/">LinkedIn</button>
            <button class="Button" style="font-family:Tahoma; border-style:solid; color:white; background-color:black; border-width:4px; border-color:white; border-radius:2px;" data-bs-toggle="modal" data-bs-target="#popupmodal" data-bs-url="https://github.com/JulianvDam">Github</button>
        </div>
        <h2 id="AboutMe" class="categoryTitle0" >
            <div class="console-container" style="margin-bottom: 10%;"><span id='AN_about_start'></span><div class='console-underscore' id='console'>&#95;</div></div>
            <p class="contentText"><br> Hello, I’m Julian. <br> <br> As an ambitious computer science student, I am excited to apply my knowledge and skills in practice through an internship opportunity. My passion for technology and programming has driven me to excel in a variety of programming languages, including C# and JavaScript. I've also had the chance to work on projects that have honed my problem-solving skills and ability to work in a team environment. I am keen to bring my  <b>enthusiasm and drive</b> to a dynamic organization where I can make a meaningful contribution. I am confident that my technical skills, strong work ethic and commitment to continuous learning make me an ideal candidate for an internship. If you are looking for a highly motivated computer science student with a passion for technology, I would love the opportunity to connect and discuss how I can contribute to your organization.</p>
            <div class='console-container'><span id='AN_about_end'></span><div class='console-underscore' id='console'>&#95;</div></div>
            <a class="item" href="#Portfolio">
                <button class="Button" style="font-family:Tahoma; border-style:solid; color:white; background-color:black; border-width:4px; border-color:white; border-radius:10px; margin-top: 5%; width: 15%; height: 5vh;">Continue</button>
            </a>
        </h2>
        <h2 id="Portfolio" class="categoryTitle1">
            <div class='console-container'><span id='AN_portfolio_start'></span><div class='console-underscore' id='console'>&#95;</div></div>
            <div class="main_box">
                <div class="img img1" data-bs-toggle="modal" data-bs-target="#popupmodal" data-bs-url="http://cloud-native-course.s3-website.eu-central-1.amazonaws.com/">
                    <p>2023</p>
                </div>
                <div class="img img2" data-bs-toggle="modal" data-bs-target="#popupmodal" data-bs-url="https://github.com/JulianvDam/PerseusReach">
                    <p>2023</p>
                </div>
                <div class="img img3" data-bs-toggle="modal" data-bs-target="#popupmodal" data-bs-url="http://cloud-native-course.s3-website.eu-central-1.amazonaws.com/">
                    <p>2022</p>
                </div>
            </div>
            <div class='console-container'><span id='AN_portfolio_end'></span><div class='console-underscore' id='console'>&#95;</div></div>
        <a class="item" href="#Contact">
                <button class="Button" style="font-family:Tahoma; border-style:solid; color:white; background-color:black; border-width:4px; border-color:white; border-radius:10px; margin-top: 5%; width: 15%; height: 5vh;">Continue</button>
            </a>
        </h2>
        <h2 id="Contact" class="categoryTitle1">
            <div class='console-container'><span id='AN_contact_start'></span><div class='console-underscore' id='console'>&#95;</div></div>
            <p class="contentText">If you'd like to talk about a project you want help with or need an advice about, or want to send business inquiries, contact me at julianvdam@outlook.com. You can also contact me via LinkedIn or send me a message via this website.</p>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="FormInput1"><h4>Name:</h4></label>
                        <input type="text" class="form-control" id="FormInput1" placeholder="Pedro Pascal">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="FormInput2"><h4>Email Address:</h4></label>
                        <input type="text" class="form-control" id="FormInput2" placeholder="name@example.com">
                    </div>
                </div>
                <div class="form-group">
                    <label for="FormInput3"><h4>Message:</h4></label>
                    <textarea class="form-control" id="FormInput3" rows="3"></textarea>
                </div>
                <button class="btn btn-primary" type="submit" onclick="SendMessage()">Send Message</button>
            </form>
            <div class='console-container'><span id='AN_contact_end'></span><div class='console-underscore' id='console'>&#95;</div></div>
        </h2>
        <p class="footercopyright" style="color:white">Programmed and designed by me<br>Julian van Dam - © 2023</p>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="popupmodal" tabindex="-1" role="dialog"
        aria-labelledby="popup" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitle">Are you sure to leave this website?</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary GoButton">Go</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    function SendMessage() {
        
        var name = $("#FormInput1").val();
        var email = $("#FormInput2").val();
        var message = $("#FormInput3").val();

        @{
            
            Message message = new Message("Naam", "j.dam39@outlook.com", "MESSAGE");
            message.SendEmail();
        }
    }


    var Modal = document.getElementById('popupmodal')
    Modal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var recipient = button.getAttribute('data-bs-url')
        // Update the modal's content.
        var modalBody = Modal.querySelector('.modal-body')
        modalBody.innerHTML = 'You are leaving to: <strong>' + recipient + "</strong>"

        // Get the "Go" button element
        var goButton = Modal.querySelector('.GoButton');
        
        // Add click event listener to the "Go" button
        goButton.addEventListener('click', function() {
            window.open(recipient); // Navigate to the recipient URL
            $('#popupmodal').modal('hide');
        });
    })

    
    consoleText(['< About me', 'Nice to meet you'], 'AN_about_start', ['green', 'white'], 1000);
    consoleText(['/>', ""], 'AN_about_end', ['green', 'black'], 3500);

    consoleText(['< Portfolio', 'See my projects'], 'AN_portfolio_start', ['green', 'white'], 1000);
    consoleText(['/>', ""], 'AN_portfolio_end', ['green', 'black'], 3281.25);

    consoleText(['< Contact', 'See you later'], 'AN_contact_start', ['green', 'white'], 1000);
    consoleText(['/>', ""], 'AN_contact_end', ['green', 'black'], 2843.75);


    function consoleText(words, id, colors, interval) {
        if (colors === undefined) colors = ['#fff'];
        var visible = true;
        var con = document.getElementById('console');
        var letterCount = 1;
        var x = 1;
        var waiting = false;
        var target = document.getElementById(id);
        target.setAttribute('style', 'color:' + colors[0]);

        window.setInterval(function() {
            if (letterCount === 0 && waiting === false) {
                waiting = true;
                target.innerHTML = words[0].substring(0, letterCount);
                window.setTimeout(function() {
                    var usedColor = colors.shift();
                    colors.push(usedColor);
                    var usedWord = words.shift();
                    words.push(usedWord);
                    x = 1;
                    target.setAttribute('style', 'color:' + colors[0]);
                    letterCount += x;
                    waiting = false;
                }, interval);
            } else if (letterCount === words[0].length + 1 && waiting === false) {
                waiting = true;
                window.setTimeout(function() {
                    x = -1;
                    letterCount += x;
                    waiting = false;
                }, interval);
            } else if (waiting === false) {
                target.innerHTML = words[0].substring(0, letterCount);
                letterCount += x;
            }
        }, 200);

        window.setInterval(function() {
            if (visible === true) {
                con.className = 'console-underscore hidden';
                visible = false;
            } else {
                con.className = 'console-underscore';
                visible = true;
            }
        }, 400);
    }
</script>